@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  font-size: 14px;

  --color-button-text: #FAFAFA;
  --color-primary-100: #F5F5F5;
  --color-primary-200: #EEEEEE;
  --color-primary-300: #E0E0E0;
  --color-primary-400: #BDBDBD;
  --color-primary-500: #9E9E9E;
  --color-primary-600: #757575;
  --color-primary-700: #616161;
  --color-primary-800: #424242;
  --color-primary-900: #212121;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #03A9F4;
  --color-accent-glow: rgba(8, 164, 236, 0.3);
  --color-accent: #03A9F4;
  --color-accent-hover: #4FC3F7;
  --color-accent-disabled: #B3E5FC;
  --color-error: #fd4d4d;
  --color-error-hover: #ff8686;
  --screen-height-reduction: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
